<div class="tint"></div>
<header id="main" class="container">
  <section class="row">
    <section class="twelve columns">
      <h1><a href="/">Life in BTV</a></h1>
      <div class="arrow"></div>
      <div class="arrow-border"></div>
      <div class="quote">Burlington, Vermont</div>
    </section>
    <section class="twelve columns video">
      <%= @video.embed_html5(width:"920", height: "518", url_params: { showinfo: 0, vq: "hd1080" }) %>
    </section>
    <section class="nine columns meta">
      <h3 class="title"><%= @video.title %></h3>
      <p class="description"><%= @video.description %></p>
    </section>
    <section class="three columns share">
      <span>Share</span>
      <div>
        <a href="https://twitter.com/share?text=<%= CGI.escape(@video.title) %>&amp;url=http://www.lifeinbtv.com/videos/<%= @video.unique_id %>"><img alt="Share On Twitter" src="/img/twitter.png"> Twitter</a>
        <a href="http://www.facebook.com/sharer.php?u=http://www.lifeinbtv.com/videos/<%= @video.unique_id %>"><img alt="Share On Facebook" src="/img/facebook.png"> Facebook</a>
      </div>
    </section>
  </section>
</header>
<section class="container">
  <section class="row videos">
    <% @videos.each do |video| %>
      <a href="/videos/<%= video.unique_id %>" data-pjax="#main" class="three columns video">
        <h6><%= video.title %></h6>
        <img src="<%= video.thumbnails[3].url %>" alt="<%= video.title %>">
      </a>
    <% end %>
  </section>
</section>
